/* Common styles for all screens */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    outline: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(52, 152, 219, 1);
    white-space: nowrap;
}

nav:hover {
    width: 240px;
    transition: 0.5s;
}

nav ul {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1rem;
    margin: 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

nav li:hover {
    background: #e0e0e058;
}

nav a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav a i {
    font-size: 1.2rem;
}

.menu a span {
    overflow: hidden;
}

section {
    margin-top: 20px;
    flex: 1;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #3498db;
}

/* Styles for Rainfall Analyzer Section */
#rainfallAnalyzerContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 600px; /* Adjust as needed */
}

#rainfallAnalyzerContent label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3498db;
}

#rainfallAnalyzerContent input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#rainfallAnalyzerContent button,
#saveGraphButton,
#removeLastDataButton {
    width: 100%;
    padding: 12px 24px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 15px;
}

#rainfallAnalyzerContent button:hover,
#saveGraphButton:hover,
#removeLastDataButton:hover {
    background-color: #2980b9;
}

/* Styles for Graph History Section */
#graphHistoryContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 600px; /* Adjust as needed */
}

#graphHistoryContent img {
    width: 100%;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-top: 15px;
}

/* Styles for History Rainfall Data Section */
#historyContent table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#historyContent th,
#historyContent td {
    border: 1px solid #3498db;
    padding: 12px;
    text-align: center;
}

#historyContent th {
    background-color: #3498db;
    color: #fff;
}

/* Styles for Clock and Date Display */
#clockDate {
    font-size: 24px;
    margin-top: 10px;
    color: #3498db;
}

/* Additional styles for the date selector */
#dateSelectorHistory,
#graphHistoryDateSelector {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#dateSelectorHistory:hover,
#graphHistoryDateSelector:hover {
    border-color: #2980b9;
}

/* Style for graph history items */
.graph-history-item {
    margin-bottom: 20px;
}

/* Styles for the color bar and legend */
#colorBar,
#colorBarText {
    width: 100%;
    margin: 0 auto;
}

#colorBar {
    height: 20px;
    background: linear-gradient(to right, 
    green 0%, green 16.6%,
    yellow 16.6%, yellow 33.3%,
    orange 33.3%, orange 50%,
    red 50%, red 66.6%,
    purple 66.6%, purple 83.3%,
    blue 83.3%, blue 100%
    );
    border-radius: 5px;
    margin-top: 10px;
}

#colorBarText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

#colorBarText span {
    flex: 1;
    text-align: center;
    font-size: 10px;
    color: #f3f3f3;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Styles for the alert container */
.alert-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

/* Additional media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    nav {
        width: 100%;
        padding: 0;
    }

    nav:hover {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0;
    }

    .menu a span {
        display: none;
    }

    #rainfallAnalyzerContent,
    #graphHistoryContent {
        max-width: 100%;
    }

    #dateSelectorHistory,
    #graphHistoryDateSelector {
        width: calc(100% - 20px);
    }
}
